documentation/*.*
!documentation/*.tex
!documentation/*.pdf
!documentation/*.bib
!documentation/Figures/*.*
bin/*.*
obj/*.*
results/*.*
*.out
*.mod
src_ss/*.mod
src_ss/*.o
src_trans/*.mod
src_trans/*.o